{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}

        {% if p.children.visible.count > 0 %}
            <li class="nav-item dropdown has-children {{ current_page }}">
                <a class="nav-link dropdown-toggle" href="{{ p.url }}" id="dropdown_{{ p.url|md5 }}" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}</a>
                <ul class="dropdown-menu {% if p.header.menu_dropdown_align %}{{ p.header.menu_dropdown_align }}{% endif %}" aria-labelledby="dropdown_{{ p.url|md5 }}"> {# dropdown-menu-right #}
                    {{ _self.loop_dropdown(p) }}
                </ul>
            </li>
        {% else %}
           <li class="nav-item {{ current_page }}">
                <a class="nav-link" href="{{ p.url }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}
                </a>
            </li> 
        {% endif %}
    {% endfor %}
{% endmacro %}


{% macro loop_dropdown(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        {% if p.children.visible.count > 0 %}
            <li class="sub-menu {{ current_page }} {% if p.header.menu_subdropdown_align %}{{ p.header.menu_subdropdown_align }}{% endif %}">{# dropleft #}
                <a class="dropdown-item dropdown-toggle" href="{{ p.url }}" id="dropdown_{{ p.url|md5 }}" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown_{{ p.url|md5 }}">
                    {{ _self.loop_dropdown(p) }}
                </ul>
            </li>
        {% else %}
            <li><a class="dropdown-item {{ current_page }}" href="{{ p.url }}">
                {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                {{ p.menu }}
            </a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

   

<ul class="navbar-nav ml-auto">{# ml-auto #}
    {% if theme_config.dropdown.enabled %}
            {{ _self.loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li class="nav-item {{ current_page }}">
                <a class="nav-link" href="{{ page.url }}">
                    {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                    {{ page.menu }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <li class="nav-item">
            <a class="nav-link" href="{{ mitem.url }}">
                {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                {{ mitem.text }}
            </a>
        </li>
    {% endfor %}
</ul>