<div class="media">
    {% set banner = page.media.images|first %}

    {% if banner %}
        <a class="mr-3" href="{{ page.url }}">{{ banner.cropZoom(100,100).html(false,false,'mr-3')|raw }}</a>
    {% endif %}
    <div class="media-body">
        <div class="search-title">
            <h3 class="h5"><a href="{{ page.url }}">{{ page.title }}</a></h3>
        </div>
        {{ page.summary|striptags }} {# <span class="search-date">{{ page.date|date(config.system.pages.dateformat.short) }}</span> #}
    </div>
</div>
<hr />