<div class="bgcolor_7 pt-sm-0 pb-sm-0">
    <h3 class="m-0 animated fadeIn h7 color_8 bgcolor_2 border-top font_w6 p-5 px-20 p-sm-10 px-sm-30">Termine</h3>
    {% for key, service in services %}
        {% if service.dates|length > 0 %}
            {% if just_service is empty %}
                {{ _self.service_item(service) }}
            {% else %}
                {% if just_service == key %}
                    {{ _self.service_item(service) }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

{% macro service_item(service) %}
    <h3 class="m-0 animated fadeIn h7 color_1 border-top border-bottom font_w3 p-5 px-20 p-sm-10 px-sm-30">{{ service.name }}:</h3>
    <ul class="list-unstyled pb-20 pl-0 mb-0 pt-0">
    {% for date in service.dates %}
        {% if date.date|date('Y-m-d') >= "now"|date('Y-m-d') %}
            <li class="animated fadeIn">
                <a class="color_1 hoverbgcolor_11 font_w3 py-2 px-20 py-md-2 px-sm-30 media small" href="{{ url(date.link) }}">
                    <i style="font-size:20px;" class="fal fa-calendar mr-10 pt-5"></i>
                    <span class="media-body">
                        {{ date.date | date("d.m.Y") }}<br />
                        {{ date.name }}<br />
                        {{ date.description }}
                    </span>
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}